@font-face {
  font-display: swap;
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/great-vibes-v21-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/poppins-v24-latin-200.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #fefefe;
    --clr-offWhite: #c6c5c5;
    --clr-chalk: #dbdada;
    --clr-chevronWhite: #d6d4d4;
    --clr-blk: #000000;
    --clr-grey: #a9a8a8;
    --clr-darkGrey: #2c2c2c;
    --clr-purple: #5d0f9c;
    --clr-mauve: #8f6ca9;
    --clr-lilac: #861cdc;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--clr-lilac);
}
body {
    color: var(--clr-darkGrey);
    background: var(--clr-white);
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    padding-bottom: 1rem;
    cursor: default;
}
.wrapper {
    max-width: 90rem;
}
nav {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--clr-purple);
    z-index: 1;
}
.logo {
    display: flex;
    align-items: center;
    color: var(--clr-white);
    font-family: "Great Vibes", cursive;
    font-size: clamp(2rem, 3vw, 2.5rem);
    letter-spacing: .5px;
    text-decoration: none;
    z-index: 2;
}
.logo h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1.5rem;
}
.logo h2 a:focus {
    outline: none;
}
.logo h2 a:focus-visible {
    outline: 2px solid var(--clr-chalk);
}
.logo img {
    position: relative;
    bottom: .35rem;
    left: 1rem;
    width: 70px;
    height: auto;
    color: var(--clr-white);
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    height: 2rem;
    width: 1.25rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}
.links-wrapper {
    position: relative;
    height: 100%;
    line-height: 70px;
}
.links-wrapper .links {
    display: flex;
    cursor: pointer;
    margin-right: 1rem;
}
.links-wrapper .links li {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 0 25px;
    transition: 250ms ease;
}
.links-wrapper .links li:hover {
    background: var(--clr-lilac);
}
.links-wrapper .links li i {
    position: relative;
    top: 1.75px;
    left: .15rem;
    font-size: .9rem;
}
.links-wrapper .links li a {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 200;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: .5px;
    color: var(--clr-white);
}
.links-wrapper .links li a:focus {
    outline: none;
}
.links-wrapper .links li a:focus-visible {
    outline: solid 2px var(--clr-chalk);
}
.links-wrapper .links li .arrow {
    text-align: center;
    color: var(--clr-chevronWhite);
    width: 22px;
    height: 100%;
    line-height: 70px;
    transition: 250ms ease-in-out all;
}
.links-wrapper .links li:hover .packages-arrow,
.links-wrapper .links li:hover .events-arrow {
    transform: rotate(90deg);
}
.links-wrapper .links .packages:focus-within .packages-arrow,
.links-wrapper .links .events:focus-within .events-arrow {
    transform: rotate(90deg);
}
.links-wrapper .links .sub-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background: var(--clr-purple);
    line-height: 70px;
    width: 175px;
    min-width: 100%;
}
.links-wrapper .links .sub-menu li {
    border-bottom: solid 1.35px var(--clr-mauve);
}
.links-wrapper .links .sub-menu li:last-child {
    border-bottom: none;
}
.links-wrapper .links .sub-menu li a {
    color: var(--clr-white);
    width: 100%;
}
.links-wrapper .links li:hover .packages-sub-menu,
.links-wrapper .links li:hover .events-sub-menu {
    display: block;
}
.links-wrapper .links .packages:focus-within .packages-sub-menu,
.links-wrapper .links .events:focus-within .events-sub-menu {
    display: block;
}
.bars {
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-white);
    transition: 350ms ease;
}
.bars::before {
    transform: translateY(-4px);
}
.bars::after {
    transform: translateY(4px);
}
.wrapper.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(45deg);
}
.wrapper.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(-45deg);
}
.overlay {
    display: none;
}
.banner {
    position: relative;
    width: 100%;
    height: 185px;
}
.banner img {
    position: absolute;
    max-width: 700px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -18%);
    height: auto;
}
.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: clamp(50px, 10vw, 0) auto 0;
}
.img-wrapper img {
    position: relative;
    max-width: 225px;
    width: 80%;
    height: auto;
    border-radius: 50%;
    color: var(--clr-blk);
}
.img-wrapper .border {
    position: absolute;
    max-width: 330px;
    width: 100%;
}
.border.light {
    display: block;
}
.border.dark {
    display: none;
}
.content {
    text-align: center;
    width: 80%;
    margin: 35px auto 0;
    line-height: 1.7;
}
.content h1 {
    font-size: clamp(1.5rem, 3vw, 1.9rem);
    font-weight: 400;
    text-transform: capitalize;
    margin: 13px auto;
}
.content p {
    font-size: clamp(1rem, 3vw, 1.1rem);
}
@media screen and (max-width: 1145px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    .wrapper.active .links-wrapper {
        transform: translateX(0);
    }
    nav {
        position: relative;
        max-width: 100%;
        padding: 0 25px;
    }
    .logo h2 {
        margin-left: -.5rem;
    }
    .logo img {
        left: -1.1rem;
    }
    .links-wrapper {
        display: block;
        position: fixed;
        background: var(--clr-purple);
        top: 0;
        right: 0;
        max-width: 300px;
        width: 100%;
        transform: translateX(100%);
        transition: 250ms ease-in-out;
        padding: 15px;
        -webkit-tap-highlight-color: transparent;
        overflow-y: auto;
    }
    .links-wrapper .links {
        display: block;
        position: relative;
        top: 3rem;
    }
    .links-wrapper .links li {
        display: block;
    }
    .links-wrapper .links li i {
        top: 0;
    }
    .links-wrapper .links .sub-menu {
        display: none;
        position: relative;
        top: 0;
    }
    .links-wrapper .links .sub-menu li {
        border-bottom: none;
    }
    .links-wrapper .links .sub-menu li a {
        color: var(--clr-offWhite);
        font-weight: 300;
    }
    .links-wrapper .links .packages > a,
    .links-wrapper .links .events > a {
        pointer-events: none;
    }
    .links-wrapper .links li:hover .packages-sub-menu,
    .links-wrapper .links li:hover .events-sub-menu {
        display: none;
    }
    .links-wrapper .links li:hover .packages-arrow,
    .links-wrapper .links li:hover .events-arrow {
        transform: rotate(0deg);
    }
    .links-wrapper.packages-menu-open .links .sub-menu.packages-sub-menu,
    .links-wrapper.events-menu-open .links .sub-menu.events-sub-menu {
        display: block;
    }
    .links-wrapper .links li:hover {
        background: transparent;
    }
    .links-wrapper.packages-menu-open .links li .packages-arrow,
    .links-wrapper.events-menu-open .links li .events-arrow {
        transform: rotate(90deg);
        line-height: 0;
    }
    .hamburger-menu {
        display: flex;
    }
    header.active .hamburger-menu::before {
        transform: rotate(45deg);
    }
    header.active .hamburger-menu::after {
        transform: rotate(315deg);
    }
    .overlay {
        display: block;
        position: fixed;
        inset: 0;
        pointer-events: none;
        z-index: -1;
    }
}
@media screen and (max-width: 1050px) {
    .content p {
        margin: 25px auto 0;
    }
}
@media screen and (max-width: 745px) {
    .banner {
        display: none;
    }
    .img-wrapper {
        margin: 50px auto 0;
    }
}
@media screen and (max-width: 575px) {
    .links-wrapper {
        max-width: 100%;
    }
    .links-wrapper .links li {
        padding: 0 .5rem;
    }
}
@media screen and (max-width: 325px) {
    .img-wrapper img {
        max-width: 205px;
    }
    .img-wrapper .border {
        max-width: 305px;
    }
}
@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background: var(--clr-blk);
    }
    ::-webkit-scrollbar-thumb {
        background: var(--clr-chalk);
    }
    body {
        background: var(--clr-blk);
    }
    .img-wrapper img {
        color: var(--clr-white);
    }
    .border.light {
        display: none;
    }
    .border.dark {
        display: block;
    }
    .content {
        color: var(--clr-chalk);
    }
}