@font-face {
  font-display: swap;
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/great-vibes-v21-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/poppins-v24-latin-200.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #fefefe;
    --clr-offWhite: #c6c5c5;
    --clr-chalk: #dbdada;
    --clr-cream: #ededed;
    --clr-blk: #000000;
    --clr-grey: #a9a8a8;
    --clr-lightGrey: #c5c4c1;
    --clr-gold: #b9985b;
    --clr-lightCharcoal: #585858;
    --clr-charcoal: #4a4a4a;
    --clr-darkGrey: #2c2c2c;
    --clr-purple: #5d0f9c;
    --clr-lilac: #861cdc;
    --clr-mauve: #8f6ca9;
}
body {
    color: var(--clr-darkGrey);
    background: var(--clr-white);
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    cursor: default;
}
.wrapper {
    max-width: 90rem;
}
nav {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--clr-purple);
    z-index: 1;
}
.logo {
    display: flex;
    align-items: center;
    color: var(--clr-white);
    font-family: "Great Vibes", cursive;
    font-size: clamp(2rem, 3vw, 2.5rem);
    letter-spacing: .5px;
    text-decoration: none;
    z-index: 2;
}
.logo h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1.5rem;
}
.logo img {
    position: relative;
    bottom: .35rem;
    left: 1rem;
    width: 70px;
    height: auto;
    color: var(--clr-white);
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.2rem;
    right: 1.7rem;
    height: 2rem;
    width: 1.25rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}
.links-wrapper {
    position: relative;
    height: 100%;
    line-height: 70px;
}
.links-wrapper .links {
    display: flex;
    cursor: pointer;
    margin-right: 1rem;
}
.links-wrapper .links li {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 0 25px;
    transition: background-color 250ms ease;
}
.links-wrapper .links li:hover {
    background: var(--clr-lilac);
}
.links-wrapper .links li i {
    position: relative;
    top: 1.75px;
    left: .15rem;
    font-size: .9rem;
}
.links-wrapper .links li a {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 200;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: .5px;
    color: var(--clr-white);
}
.links-wrapper .links li .arrow {
    position: relative;
    top: .1rem;
    left: .2rem;
    text-align: center;
    width: 22px;
    height: 100%;
    transition: transform 250ms ease-in-out;
}
.links-wrapper .links li:hover .packages-arrow,
.links-wrapper .links li:hover .events-arrow {
    transform: rotate(90deg);
}
.links-wrapper .links .packages:focus-within .packages-arrow,
.links-wrapper .links .events:focus-within .events-arrow {
    transform: rotate(90deg);
}
.links-wrapper .links .sub-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background: var(--clr-purple);
    line-height: 70px;
    width: 175px;
    min-width: 100%;
}
.links-wrapper .links .sub-menu li {
    border-bottom: solid 1.35px var(--clr-mauve);
}
.links-wrapper .links .sub-menu li:last-child {
    border-bottom: none;
}
.links-wrapper .links .sub-menu li a {
    color: var(--clr-white);
    width: 100%;
}
.links-wrapper .links li:hover .packages-sub-menu,
.links-wrapper .links li:hover .events-sub-menu {
    display: block;
}
.links-wrapper .links .packages:focus-within .packages-sub-menu,
.links-wrapper .links .events:focus-within .events-sub-menu {
    display: block;
}
.bars {
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-white);
    transition: transform 350ms ease;
}
.bars::before {
    transform: translateY(-4px);
}
.bars::after {
    transform: translateY(4px);
}
.wrapper.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(45deg);
}
.wrapper.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(-45deg);
}
.title {
    text-align: center;
}
.title h1 {
    font-size: clamp(1.85rem, 3vw, 2.25rem);
    font-weight: 400;
}
.title p {
    font-size: clamp(1.15rem, 3vw, 1.3rem);
    font-weight: 300;
    margin: 0 auto 15px;
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-inline: .65rem 1rem;
    margin-top: 25px;
}
.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    max-width: 900px;
    margin: 15px auto;
    color: var(--clr-white);
    background-color: var(--clr-chalk);
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
}
.contact-form .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.contact-form .right {
    padding: 1.25rem;
}
.contact-form .right .contact {
    position: relative;
}
.contact-form .right h2 {
    position: relative;
    bottom: .5rem;
    text-transform: capitalize;
    color: var(--clr-lightCharcoal);
    font-size: clamp(1.2rem, 3vw, 1.3rem);
    font-weight: 400;
}
.contact-form .right .input {
    width: 100%;
    padding: .5rem .25rem;
    background: var(--clr-white);
    font-size: 1rem;
    outline: none;
    border: none;
    margin: 3px auto;
    border-radius: 5px;
}
.contact-form .right textarea {
    resize: none;
    min-height: 100px;
}
.contact-form .right .input,
.contact-form .right textarea {
    -webkit-tap-highlight-color: transparent;
}
.contact-form .right button {
    position: relative;
    top: .3rem;
    width: 100%;
    padding: .5rem 1rem;
    text-transform: uppercase;
    color: var(--clr-white);
    background: var(--clr-grey);
    outline: none;
    border: none;
    font-size: .95rem;
    font-weight: 400;
    border-radius: 5px;
}
@media screen and (max-width: 1145px) {
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    .wrapper.active .links-wrapper {
        transform: translateX(0);
    }
    nav {
        position: relative;
        max-width: 100%;
        padding: 0 25px;
    }
    .logo h2 {
        margin-left: -.5rem;
    }
    .logo img {
        left: -.8rem;
    }
    .links-wrapper {
        display: block;
        position: fixed;
        background: var(--clr-purple);
        top: 0;
        right: 0;
        max-width: 300px;
        width: 100%;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        padding: 15px;
        -webkit-tap-highlight-color: transparent;
        overflow-y: auto;
    }
    .links-wrapper .links {
        display: block;
        position: relative;
        top: 3rem;
    }
    .links-wrapper .links li {
        display: block;
    }
    .links-wrapper .links li i {
        top: 0;
    }
    .links-wrapper .links .sub-menu {
        display: none;
        position: relative;
        top: 0;
    }
    .links-wrapper .links .sub-menu li {
        border-bottom: none;
    }
    .links-wrapper .links .sub-menu li a {
        color: var(--clr-offWhite);
        font-weight: 300;
    }
    .links-wrapper .links .packages > a,
    .links-wrapper .links .events > a {
        pointer-events: none;
    }
    .links-wrapper .links li:hover .packages-sub-menu,
    .links-wrapper .links li:hover .events-sub-menu {
        display: none;
    }
    .links-wrapper .links li .arrow {
        top: .42rem;
    }
    .links-wrapper .links li:hover .packages-arrow,
    .links-wrapper .links li:hover .events-arrow {
        transform: rotate(0deg);
    }
    .links-wrapper.packages-menu-open .links .sub-menu.packages-sub-menu,
    .links-wrapper.events-menu-open .links .sub-menu.events-sub-menu {
        display: block;
    }
    .links-wrapper .links li:hover {
        background: transparent;
    }
    .links-wrapper.packages-menu-open .links li .packages-arrow,
    .links-wrapper.events-menu-open .links li .events-arrow {
        transform: rotate(90deg);
    }
    .hamburger-menu {
        display: flex;
    }
    header.active .hamburger-menu::before {
        transform: rotate(45deg);
    }
    header.active .hamburger-menu::after {
        transform: rotate(315deg);
    }
}
@media screen and (max-width: 965px) {
    .contact-container {
        padding-inline: 1rem;
    }
    .contact-form {
        grid-template-columns: 1fr;
        max-width: 750px;
    }
    .contact-form .left {
        height: 300px;
    }
    .contact-form .left img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
    .contact-form .right {
        padding: .75rem;
    }
    .contact-form .right h2 {
        bottom: .25rem;
    }
    .contact-form .right button {
        top: .15rem;
    }
}
@media screen and (max-width: 650px) {
    .title {
        text-align: left;
    }
}
@media screen and (max-width: 575px) {
    .links-wrapper {
        max-width: 100%;
    }
    .links-wrapper .links li {
        padding: 0 .5rem;
    }
}
@media screen and (prefers-color-scheme: dark) {
    body {
        background: var(--clr-blk);
    }
    .title {
        color: var(--clr-chalk);
    }
    .contact-form {
        color: var(--clr-cream);
        background-color: var(--clr-darkGrey);
    }
    .contact-form .right h2 {
        color: var(--clr-cream);
    }
    .contact-form .right button {
        background: var(--clr-charcoal);
    }
    .contact-form .right .input {
        background: var(--clr-cream);
    }
}