@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #fefefe;
    --clr-offWhite: #c6c5c5;
    --clr-chalk: #dbdada;
    --clr-cream: #ededed;
    --clr-blk: #000000;
    --clr-grey: #a9a8a8;
    --clr-lightGrey: #c5c4c1;
    --clr-lightCharcoal: #393838;
    --clr-charcoal: #4a4a4a;
    --clr-darkGrey: #2c2c2c;
    --clr-purple: #5d0f9c;
    --clr-lilac: #861cdc;
    --clr-mauve: #8f6ca9;
}
body {
    color: var(--clr-darkGrey);
    background: var(--clr-white);
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    cursor: default;
}
.wrapper {
    max-width: 90rem;
}
/* nav */
.nav-overlay {
    display: none;
}
nav {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--clr-purple);
    cursor: default;
    z-index: 1;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: var(--clr-white);
    font-family: "Great Vibes", cursive;
    font-size: clamp(2rem, 3vw, 2.5rem);
    letter-spacing: .5px;
    text-decoration: none;
    z-index: 2;
}
.logo img {
    position: relative;
    bottom: .35rem;
    width: 70px;
    height: auto;
    color: var(--clr-white);
}
.hamburger-menu {
    display: none;
}
.links-wrapper {
    position: relative;
    height: 100%;
    line-height: 70px;
}
.links-wrapper .links {
    display: flex;
    cursor: pointer;
    margin-right: 1rem;
}
.links-wrapper .links li {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 0 25px;
    transition: 250ms ease;
}
.links-wrapper .links li:hover {
    background: var(--clr-lilac);
}
.links-wrapper .links li i {
    position: relative;
    top: 1.75px;
    left: .15rem;
    font-size: .9rem;
}
.links-wrapper .links li a {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 200;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: .5px;
    color: var(--clr-white);
}
.links-wrapper .links li .arrow {
    text-align: center;
    color: var(--clr-white);
    width: 22px;
    height: 100%;
    line-height: 70px;
    transition: 250ms ease-in-out all;
}
.links-wrapper .links li:hover .packages-arrow,
.links-wrapper .links li:hover .events-arrow {
    transform: rotate(90deg);
}
.links-wrapper .links .sub-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background: var(--clr-purple);
    line-height: 70px;
    width: 175px;
    min-width: 100%;
}
.links-wrapper .links .sub-menu li {
    border-bottom: solid 1.35px var(--clr-mauve);
}
.links-wrapper .links .sub-menu li:last-child {
    border-bottom: none;
}
.links-wrapper .links .sub-menu li a {
    color: var(--clr-white);
    width: 100%;
}
.links-wrapper .links li:hover .packages-sub-menu,
.links-wrapper .links li:hover .events-sub-menu {
    display: block;
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.2rem;
    right: 1.2em;
    height: 2rem;
    width: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}
.bars {
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-white);
    transition: 350ms ease;
}
.bars::before {
    transform: translateY(-4px);
}
.bars::after {
    transform: translateY(4px);
}
.wrapper.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(45deg);
}
.wrapper.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(-45deg);
}
.transparent-overlay {
    display: none;
}
/* header */
.header {
    text-align: center;
}
.header h1 {
    font-size: clamp(1.85rem, 3vw, 2.5rem);
    font-weight: 400;
}
.header p {
    font-size: clamp(1.15rem, 3vw, 1.3rem);
    font-weight: 300;
}
/* contact form */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    margin: 25px auto;
}
.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    max-width: 900px;
    margin: 15px auto;
    color: var(--clr-white);
    background-color: var(--clr-lightGrey);
    border-radius: 5px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .4);
}
.contact-form .left {
    height: 100%;
    background: url(../assets/contact/contact_form.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.contact-form .right {
    padding: 1.5rem;
}
.contact-form .right .contact {
    position: relative;
}
.contact-form .right img {
    position: absolute;
    max-width: 40px;
    width: 100%;
    height: auto;
    right: 0;
    bottom: 13px;
}
.contact-form .right img:nth-child(1) {
    position: absolute;
    max-width: 40px;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 13px;
    transform: scaleX(-1);
}
.contact-form .right h2 {
    position: relative;
    bottom: .65rem;
    text-transform: capitalize;
    color: var(--clr-white);
    font-size: clamp(1.1rem, 3vw, 1.3rem);
    font-weight: 400;
}
.contact-form .right .input {
    width: 100%;
    padding: .5rem .25rem;
    background: var(--clr-white);
    outline: none;
    border: none;
    margin: 3px auto;
    border-radius: 5px;
}
.contact-form .right .input:focus {
    outline: solid 2px var(--clr-purple);
}
.contact-form .right textarea {
    resize: none;
    min-height: 100px;
}
.contact-form .right button {
    position: relative;
    top: .5rem;
    width: 100%;
    padding: .5rem 1rem;
    text-transform: uppercase;
    color: var(--clr-white);
    background: var(--clr-grey);
    outline: none;
    border: none;
    font-size: .95rem;
    font-weight: 400;
    transition: 200ms ease-in;
    border-radius: 5px;
    cursor: pointer;
}
/* media query's*/
@media screen and (max-width: 1145px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    .wrapper.active .links-wrapper {
        transform: translateX(0);
    }
    .nav-overlay {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 70px;
        background: var(--clr-purple);
        z-index: 2;
    }
    nav {
        position: relative;
        max-width: 100%;
        padding: 0 25px;
    }
    .logo {
        position: relative;
        right: .75rem;
    }
    .logo img {
        right: 1rem;
    }
    .links-wrapper {
        display: block;
        position: fixed;
        background: var(--clr-purple);
        top: 0;
        right: 0;
        max-width: 300px;
        width: 100%;
        transform: translateX(100%);
        transition: 250ms ease-in-out;
        padding: 15px;
        -webkit-tap-highlight-color: transparent;
        overflow-y: auto;
    }
    .links-wrapper .links {
        display: block;
        position: relative;
        top: 3rem;
    }
    .links-wrapper .links li {
        display: block;
    }
    .links-wrapper .links li i {
        top: 0;
    }
    .links-wrapper .links .sub-menu {
        display: none;
        position: relative;
        top: 0;
    }
    .links-wrapper .links .sub-menu li {
        border-bottom: none;
    }
    .links-wrapper .links .sub-menu li a {
        color: var(--clr-offWhite);
        font-weight: 300;
    }
    .links-wrapper .links li:hover .packages-sub-menu {
        display: none;
    }
    .links-wrapper .links li:hover .events-sub-menu {
        display: none;
    }
    .links-wrapper .links li:hover .packages-arrow,
    .links-wrapper .links li:hover .events-arrow {
        transform: rotate(0deg);
    }
    .links-wrapper.active-packages-menu .links .sub-menu.packages-sub-menu {
        display: block;
    }
    .links-wrapper.active-events-menu .links .sub-menu.events-sub-menu {
        display: block;
    }
    .links-wrapper .links li:hover {
        background: transparent;
    }
    .links-wrapper.active-packages-menu .links li .packages-arrow,
    .links-wrapper.active-events-menu .links li .events-arrow {
        transform: rotate(90deg);
        line-height: 0;
    }
    .hamburger-menu {
        display: flex;
    }
    header.active .hamburger-menu::before {
        transform: rotate(45deg);
    }
    header.active .hamburger-menu::after {
        transform: rotate(315deg);
    }
    .wrapper.active .transparent-overlay {
        pointer-events: all;
    }
    .transparent-overlay {
        display: block;
        position: fixed;
        inset: 0;
        pointer-events: none;
        z-index: -1;
    }
}
@media screen and (max-width: 965px) {
    .header h2 {
        margin-top: .5rem;
    }
    .contact-form {
        grid-template-columns: 1fr;
        max-width: 750px;
    }
    .contact-form .left {
        height: 300px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
}
@media screen and (max-width: 650px) {
    .header {
        text-align: left;
    }
}
@media screen and (max-width: 575px) {
    .links-wrapper {
        max-width: 100%;
    }
    .links-wrapper .links li {
        padding: 0 .5rem;
    }
}
@media screen and (max-width: 535px) {
    .contact-form .right img,
    .contact-form .right img:nth-child(1) {
        max-width: 32px;
    }
    .contact-form .right button {
        top: .25rem;
    }
}
/* dark mode */
@media screen and (prefers-color-scheme: dark) {
    body {
        background: var(--clr-blk);
    }
    .header {
        color: var(--clr-chalk);
    }
    .contact-form {
        color: var(--clr-cream);
        background-color: var(--clr-charcoal);
    }
    .contact-form .right button {
        background: var(--clr-lightCharcoal);
    }
    .contact-form .right .input {
        background: var(--clr-cream);
    }
    .contact-form .right .input:focus {
        outline: solid 2px var(--clr-lightPurple);
    }
}