@font-face {
  font-display: swap;
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/great-vibes-v21-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/poppins-v24-latin-200.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #fefefe;
    --clr-offWhite: #c6c5c5;
    --clr-chalk: #dbdada;
    --clr-milkWhite: #fcfbfb;
    --clr-chevronWhite: #d6d4d4;
    --clr-blk: #000000;
    --clr-grey: #a9a8a8;
    --clr-coolGrey: #9b9b9b;
    --clr-darkGrey: #2c2c2c;
    --clr-mediumGrey: #393838;
    --clr-charcoal: #282727;
    --clr-shadowGrey: #4b4b4b;
    --clr-purple: #5d0f9c;
    --clr-lightPurple: #7f22cb;
    --clr-darkPurple: #461270;
    --clr-lilac: #861cdc;
    --clr-mauve: #8f6ca9;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--clr-lilac);
}
body {
    color: var(--clr-darkGrey);
    background: var(--clr-white);
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    padding-bottom: 1rem;
    cursor: default;
}
.wrapper {
    max-width: 90rem;
}
.nav-overlay {
    display: none;
}
nav {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--clr-purple);
    z-index: 1;
}
.logo {
    display: flex;
    align-items: center;
    color: var(--clr-white);
    font-family: "Great Vibes", cursive;
    font-size: clamp(2rem, 3vw, 2.5rem);
    letter-spacing: .5px;
    text-decoration: none;
    z-index: 2;
}
.logo h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1.5rem;
}
.logo img {
    position: relative;
    bottom: .35rem;
    left: 1rem;
    width: 70px;
    height: auto;
    color: var(--clr-white);
}
.hamburger-menu {
    display: none;
}
.links-wrapper {
    position: relative;
    height: 100%;
    line-height: 70px;
}
.links-wrapper .links {
    display: flex;
    cursor: pointer;
    margin-right: 1rem;
}
.links-wrapper .links li {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 0 25px;
    transition: 250ms ease;
}
.links-wrapper .links li:hover {
    background: var(--clr-lilac);
}
.links-wrapper .links li i {
    position: relative;
    top: 1.75px;
    left: .15rem;
    font-size: .9rem;
}
.links-wrapper .links li a {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 200;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: .5px;
    color: var(--clr-white);
}
.links-wrapper .links li .arrow {
    text-align: center;
    color: var(--clr-chevronWhite);
    width: 22px;
    height: 100%;
    line-height: 70px;
    transition: 250ms ease-in-out all;
}
.links-wrapper .links li:hover .packages-arrow,
.links-wrapper .links li:hover .events-arrow {
    transform: rotate(90deg);
}
.links-wrapper .links .sub-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background: var(--clr-purple);
    line-height: 70px;
    width: 175px;
    min-width: 100%;
}
.links-wrapper .links .sub-menu li {
    border-bottom: solid 1.35px var(--clr-mauve);
}
.links-wrapper .links .sub-menu li:last-child {
    border-bottom: none;
}
.links-wrapper .links .sub-menu li a {
    color: var(--clr-white);
    width: 100%;
}
.links-wrapper .links li:hover .packages-sub-menu,
.links-wrapper .links li:hover .events-sub-menu {
    display: block;
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.2rem;
    right: 1.2em;
    height: 2rem;
    width: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}
.bars {
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-white);
    transition: 350ms ease;
}
.bars::before {
    transform: translateY(-4px);
}
.bars::after {
    transform: translateY(4px);
}
.wrapper.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(45deg);
}
.wrapper.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(-45deg);
}
.banner {
    position: relative;
    bottom: 1.5px;
}
.banner img {
    width: 100%;
    height: auto;
    filter: brightness(45%);
}
.banner .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    inset: 0;
    color: var(--clr-milkWhite);
    text-transform: capitalize;
}
.banner .title h1 {
    font-size: clamp(1.75rem, 3vw, 3.5rem);
    font-weight: 200;
}
.banner p {
    font-size: clamp(1.25rem, 3vw, 1.75rem);
    font-weight: 200;
}
.event-container {
    padding: 0 1rem;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        'img-one content-one'
        'content-two img-two'
        'img-three content-three';
    padding: .5rem 0;
}
.grid-container .img-one {
    grid-area: img-one;
}
.grid-container .content-one {
    grid-area: content-one;
}
.grid-container .content-two {
    grid-area: content-two;
}
.grid-container .img-two {
    grid-area: img-two;
}
.grid-container .img-three {
    grid-area: img-three;
}
.grid-container .content-three {
    grid-area: content-three;
}
.grid-container img {
    width: 100%;
    height: auto;
}
.grid-container .left img {
    mask-image: linear-gradient(90deg, 
                rgba(0, 0, 0, 1) 50%, 
                transparent 90%);
}
.grid-container .right img {
    mask-image: linear-gradient(-90deg,
                rgba(0, 0, 0, 1) 50%, 
                transparent 90%);
}
.grid-container .left,
.grid-container .right {
    padding: 0;
}
.grid-container .left h2,
.grid-container .right h2 {
    text-transform: capitalize;
    font-weight: 400;
    margin: 15px auto 0;
}
.grid-container .left p,
.grid-container .right p {
    margin: 15px auto;
}
.other-events {
    margin: 15px auto 0;
}
.other-events .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
    gap: .5rem;
}
.other-events .content .contact,
.other-events .content .birthday,
.other-events .content .christmas {
    grid-column: span 2;
    width: 100%;
    background: var(--clr-white);
    border-radius: 5px;
    padding: 2.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}
.other-events .content .contact  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-row: span 2;
    background: var(--clr-white);
    border-radius: 5px;
}
.other-events .content h3 {
    font-size: clamp(1.2rem, 3vw, 1.4rem);
    font-weight: 200;
    text-transform: capitalize;
    color: var(--clr-charcoal);
    letter-spacing: 1px;
}
.other-events .content p {
    color: var(--clr-charcoal);
    margin: 8px auto 0;
    font-size: clamp(1rem, 3vw, 1.1rem);
    letter-spacing: 1px;
    font-weight: 200;
}
.other-events .btn {
    margin: 30px auto 0;
}
.other-events .btn a {
    color: var(--clr-white);
    background: var(--clr-coolGrey);
    padding: .5rem .75rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    border-radius: 5px;
    transition: 200ms ease-out;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
}
.other-events .btn a:hover {
    background: var(--clr-shadowGrey);
}
@media screen and (max-width: 1145px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    .wrapper.active .links-wrapper {
        transform: translateX(0);
    }
    .nav-overlay {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 70px;
        background: var(--clr-purple);
        z-index: 2;
    }
    nav {
        position: relative;
        max-width: 100%;
        padding: 0 25px;
    }
    .logo h2 {
        margin-left: 0;
    }
    .logo img {
        left: -.6rem;
    }
    .links-wrapper {
        display: block;
        position: fixed;
        background: var(--clr-purple);
        top: 0;
        right: 0;
        max-width: 300px;
        width: 100%;
        transform: translateX(100%);
        transition: 250ms ease-in-out;
        padding: 15px;
        -webkit-tap-highlight-color: transparent;
        overflow-y: auto;
    }
    .links-wrapper .links {
        display: block;
        position: relative;
        top: 3rem;
    }
    .links-wrapper .links li {
        display: block;
    }
    .links-wrapper .links li i {
        top: 0;
    }
    .links-wrapper .links .sub-menu {
        display: none;
        position: relative;
        top: 0;
    }
    .links-wrapper .links .sub-menu li {
        border-bottom: none;
    }
    .links-wrapper .links .sub-menu li a {
        color: var(--clr-offWhite);
        font-weight: 300;
    }
    .links-wrapper .links li:hover .packages-sub-menu {
        display: none;
    }
    .links-wrapper .links li:hover .events-sub-menu {
        display: none;
    }
    .links-wrapper .links li:hover .packages-arrow,
    .links-wrapper .links li:hover .events-arrow {
        transform: rotate(0deg);
    }
    .links-wrapper.active-packages-menu .links .sub-menu.packages-sub-menu {
        display: block;
    }
    .links-wrapper.active-events-menu .links .sub-menu.events-sub-menu {
        display: block;
    }
    .links-wrapper .links li:hover {
        background: transparent;
    }
    .links-wrapper.active-packages-menu .links li .packages-arrow,
    .links-wrapper.active-events-menu .links li .events-arrow {
        transform: rotate(90deg);
        line-height: 0;
    }
    .hamburger-menu {
        display: flex;
    }
    header.active .hamburger-menu::before {
        transform: rotate(45deg);
    }
    header.active .hamburger-menu::after {
        transform: rotate(315deg);
    }
}
@media screen and (max-width: 1100px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'img-one'
        'content-one'
        'img-two'
        'content-two'
        'img-three'
        'content-three';
    }
    .grid-container .left img,
    .grid-container .right img {
        mask-image: linear-gradient(180deg, 
                    rgba(0, 0, 0, 1) 50%, 
                    transparent 90%);
    }
    .grid-container .right h2,
    .grid-container .right p {
        width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .links-wrapper {
        max-width: 100%;
    }
    .links-wrapper .links li {
        padding: 0 .5rem;
    }
    .banner {
        display: none;
    }
}
@media screen and (max-width: 715px) {
    .other-events .content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 932px) and (orientation: landscape) {
    .wrapper {
        max-width: 100%;
    }
    .event-container {
        padding: 0;
        margin: .5rem 0;
    }
    .banner {
        display: none;
    }
}
@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background: var(--clr-blk);
    }
    ::-webkit-scrollbar-thumb {
        background: var(--clr-chalk);
    }
    body {
        background: var(--clr-blk);
    }
    .banner .title {
        color: var(--clr-chalk);
    }
    .event-container {
        color: var(--clr-chalk);
    }
    .other-events .content .contact,
    .other-events .content .birthday,
    .other-events .content .christmas {
        background: var(--clr-charcoal);
    }
    .other-events .content h3{
        color: var(--clr-red);
    }
    .other-events .content p {
        color: var(--clr-grey);
    }
    .other-events .btn a {
        background: var(--clr-shadowGrey);
    }
    .other-events .btn a:hover {
        background: var(--clr-mediumGrey);
    }
}