@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #fefefe;
    --clr-offWhite: #c6c5c5;
    --clr-alabasterWhite: #d7d5d5;
    --clr-chalk: #dbdada;
    --clr-blk: #000000;
    --clr-grey: #a9a8a8;
    --clr-cadetGrey: #838181;
    --clr-coolGrey: #696767;
    --clr-darkGrey: #2c2c2c;
    --clr-charcoal: #282727;
    --clr-shadowGrey: #4b4b4b;
    --clr-purple: #5d0f9c;
    --clr-lightPurple: #7f22cb;
    --clr-darkPurple: #461270;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--clr-cadetGrey);
}
body {
    color: var(--clr-darkGrey);
    background: var(--clr-white);
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    padding-bottom: 2rem;
    cursor: default;
}
.wrapper {
    max-width: 90rem;
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 90rem;
    padding: 0 15px;
    background: var(--clr-purple);
    min-height: 70px;
    z-index: 1;
}
.logo {
    position: absolute;
    left: 5.75rem;
    color: var(--clr-white);
    font-family: "Great Vibes", cursive;
    font-size: clamp(2rem, 3vw, 2.5rem);
    letter-spacing: .5px;
    text-decoration: none;
}
header img {
    position: relative;
    bottom: .35rem;
    width: 70px;
    height: auto;
}
/* nav */
nav ul {
    position: relative;
}
nav ul li {
    position: relative;
    list-style: none;
    float: left;
}
nav ul li i {
    position: relative;
    left: .5rem;
    color: var(--clr-chalk);
    font-size: clamp(.95rem, 3vw, 1rem);
}
nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 200;
    text-transform: capitalize;
    padding: 25px 30px;
    color: var(--clr-white);
    transition: 250ms;
}
nav ul li a:hover {
    background-color: var(--clr-lightPurple);
}
nav ul li ul {
    display: none;
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--clr-purple);
}
nav ul li:hover > ul {
    display: block;
}
nav ul li ul li {
    position: relative;
    width: 100%;
    border: 1px solid rgba(239, 239, 239, 0.3);
}
/* events */
.event-container {
    position: relative;
    top: .75rem;
    width: 95%;
    margin: 23px auto 0;
    padding-bottom: 2rem;
}
.event-container .header {
    text-align: center;
}
.event-container .header h1 {
    text-transform: capitalize;
    font-size: clamp(1.85rem, 3vw, 2.5rem);
    font-weight: 400;
}
.event-container .header p {
    font-size: clamp(1.15rem, 3vw, 1.3rem);
    font-weight: 300;
    margin: 0 auto 15px;
}
.event-container img {
    width: 100%;
    height: auto;
}
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 7px;
    margin: 45px auto 0;
}
.event-container img {
    width: 100%;
    height: auto;
}
.event-container .left img {
    mask-image: linear-gradient(90deg, 
                rgba(0, 0, 0, 1) 50%, 
                transparent 90%);
}
.event-container .right img {
    mask-image: linear-gradient(-90deg, 
                rgba(0, 0, 0, 1) 50%, 
                transparent 90%);
}
.event-container .left h2,
.event-container .right h2 {
    text-transform: capitalize;
    font-weight: 400;
    margin: 15px auto 0;
    padding: 0 1rem;
}
.event-container .left p,
.event-container .right p {
    width: 100%;
    margin: 15px auto;
    padding: 0 1rem;
}
/* other events */
.other-events .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    color: var(--clr-chalk);
    text-align: center;
    gap: .5rem;
    padding: 0 2rem;
}
.other-events .content .contact,
.other-events .content .birthday,
.other-events .content .christmas {
    grid-column: span 2;
    width: 100%;
    background: var(--clr-purple);
    border-radius: 5px;
    padding: 2.5rem;
}
.other-events .content .contact  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-row: span 2;
    background: var(--clr-purple);
    border-radius: 5px;
}
.other-events .content h3 {
    font-size: clamp(1.2rem, 3vw, 1.4rem);
    font-weight: 200;
    text-transform: capitalize;
    color: var(--clr-white);
    letter-spacing: 1px;
}
.other-events .content p {
    color: var(--clr-chalk);
    margin: 8px auto 0;
    letter-spacing: 1px;
    font-weight: 300;
}
.other-events .btn {
    margin: 30px auto 0;
}
.other-events .btn a {
    color: var(--clr-white);
    background: var(--clr-lightPurple);
    padding: .5rem .75rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    border-radius: 5px;
    transition: 200ms ease-out;
}
.other-events .btn a:hover {
    background: var(--clr-darkPurple);
}
/* media query's*/
@media screen and (max-width: 1145px) {
    nav {
        display: none;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background: var(--clr-purple);
    }
    header.active nav {
        display: block;
    }
    nav ul li {
        width: 100%;
    }
    nav ul li ul {
        position: relative;
        left: 0;
        width: 100%;
    }
    nav ul li ul li {
        border: 1px solid rgba(239, 239, 239, 0);
    }
    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 20px;
        height: 25px;
    }
    .hamburger-menu::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--clr-white);
        transform: translateY(-5px);
        transition: 250ms ease;
    }
    .hamburger-menu::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--clr-white);
        transform: translateY(5px);
        transition: 250ms ease;
    }
    header.active .hamburger-menu::before {
        transform: rotate(45deg);
    }
    header.active .hamburger-menu::after {
        transform: rotate(315deg);
    }
}
/* dark mode */
@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background: var(--clr-blk);
    }
    ::-webkit-scrollbar-thumb {
        background: var(--clr-chalk);
    }
    body {
        background: var(--clr-blk);
    }
    nav ul li ul li {
        border: 1px solid rgba(40, 40, 40, 0.3);
    }
    .event-container {
        color: var(--clr-chalk);
    }
    .other-events .content .contact,
    .other-events .content .birthday,
    .other-events .content .christmas {
        background: var(--clr-charcoal);
    }
    .other-events .content h3{
        color: var(--clr-red);
    }
    .other-events .content p {
        color: var(--clr-grey);
    }
    .other-events .btn a {
        background: var(--clr-shadowGrey);
    }
    .other-events .btn a:hover {
        background: var(--clr-coolGrey);
    }
}