* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #fefefe;
    --clr-offWhite: #c6c5c5;
    --clr-chalk: #dbdada;
    --clr-blk: #000000;
    --clr-darkGrey: #2c2c2c;
    --clr-purple: #5d0f9c;
    --clr-mauve: #8f6ca9;
    --clr-lilac: #861cdc;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--clr-lilac);
}
body {
    color: var(--clr-darkGrey);
    background: var(--clr-white);
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    padding-bottom: .45rem;
    cursor: default;
}
.wrapper {
    max-width: 90rem;
}
/* nav */
.nav-overlay {
    display: none;
}
nav {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--clr-purple);
    cursor: default;
    z-index: 1;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: var(--clr-white);
    font-family: "Great Vibes", cursive;
    font-size: clamp(2rem, 3vw, 2.5rem);
    letter-spacing: .5px;
    text-decoration: none;
    z-index: 2;
}
.logo img {
    position: relative;
    bottom: .35rem;
    width: 70px;
    height: auto;
    color: var(--clr-white);
}
.hamburger-menu {
    display: none;
}
.links-wrapper {
    position: relative;
    height: 100%;
    line-height: 70px;
}
.links-wrapper .links {
    display: flex;
    cursor: pointer;
    margin-right: 1rem;
}
.links-wrapper .links li {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 0 25px;
    transition: 250ms ease;
}
.links-wrapper .links li:hover {
    background: var(--clr-lilac);
}
.links-wrapper .links li i {
    position: relative;
    top: 1.75px;
    left: .15rem;
    font-size: .9rem;
}
.links-wrapper .links li a {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 200;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: .5px;
    color: var(--clr-white);
}
.links-wrapper .links li .arrow {
    text-align: center;
    color: var(--clr-white);
    width: 22px;
    height: 100%;
    line-height: 70px;
    transition: 250ms ease-in-out all;
}
.links-wrapper .links li:hover .packages-arrow,
.links-wrapper .links li:hover .events-arrow {
    transform: rotate(90deg);
}
.links-wrapper .links .sub-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background: var(--clr-purple);
    line-height: 70px;
    width: 175px;
    min-width: 100%;
}
.links-wrapper .links .sub-menu li {
    border-bottom: solid 1.35px var(--clr-mauve);
}
.links-wrapper .links .sub-menu li:last-child {
    border-bottom: none;
}
.links-wrapper .links .sub-menu li a {
    color: var(--clr-white);
    width: 100%;
}
.links-wrapper .links li:hover .packages-sub-menu,
.links-wrapper .links li:hover .events-sub-menu {
    display: block;
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.2rem;
    right: 1.2em;
    height: 2rem;
    width: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}
.bars {
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-white);
    transition: 350ms ease;
}
.bars::before {
    transform: translateY(-4px);
}
.bars::after {
    transform: translateY(4px);
}
.wrapper.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(45deg);
}
.wrapper.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(-45deg);
}
.transparent-overlay {
    display: none;
}
/* gallery */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 0 8px;
    margin: 25px auto 0;
    padding: 0 1rem;
}
.grid-container .title {
    text-align: center;
    grid-column: span 3;
    color: var(--clr-blk);
}
.grid-container .title h1 {
    font-size: clamp(1.85rem, 3vw, 2.25rem);
    font-weight: 400;
}
.grid-container .title p {
    font-size: clamp(1.15rem, 3vw, 1.3rem);
    font-weight: 300;
    margin: 0 auto 15px;
}
.grid-container img {
    width: 100%;
    height: auto;
    cursor: pointer;
    color: var(--clr-blk);
}
.img-preview {
    position: fixed;
    height: auto;
    width: 100%;
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}
.img-preview.enhanced {
    transform: translate(-50%, -50%) scale(1);
    transition: ease 400ms;
    opacity: 1;
    pointer-events: auto;
}
.img-preview .details {
    position: relative;
    cursor: pointer;
}
.img-preview .details i {
    position: absolute;
    top: .75rem;
    right: .95rem;
    border-radius: 50%;
    padding: 5px 7px;
    font-size: clamp(1rem, 3vw, 1.1rem);
    color: var(--clr-darkGrey);
    background-color: var(--clr-white);
}
.img-preview .img-box {
    width: 100%;
    height: auto;
}
.img-preview .img-box img {
    width: 100%;
    height: auto;
    cursor: default;
}
.img-preview .img-box .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: clamp(2rem, 3vw, 2.5rem);
    color: var(--clr-white);
    cursor: pointer;
    z-index: 3;
}
.img-preview .img-box .slide.prev {
    left: .95rem;
}
.img-preview .img-box .slide.next {
    right: .95rem;
}
.img-focus {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--clr-offWhite);
    transition: 350ms ease-in-out;
    z-index: 1;
}
/* media query's*/
@media screen and (max-width: 1145px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    .wrapper.active .links-wrapper {
        transform: translateX(0);
    }
    .nav-overlay {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 70px;
        background: var(--clr-purple);
        z-index: 2;
    }
    nav {
        position: relative;
        max-width: 100%;
        padding: 0 25px;
    }
    .logo {
        position: relative;
        right: .75rem;
    }
    .logo img {
        right: 1rem;
    }
    .links-wrapper {
        display: block;
        position: fixed;
        background: var(--clr-purple);
        top: 0;
        right: 0;
        max-width: 300px;
        width: 100%;
        transform: translateX(100%);
        transition: 250ms ease-in-out;
        padding: 15px;
        -webkit-tap-highlight-color: transparent;
        overflow-y: auto;
    }
    .links-wrapper .links {
        display: block;
        position: relative;
        top: 3rem;
    }
    .links-wrapper .links li {
        display: block;
    }
    .links-wrapper .links li i {
        top: 0;
    }
    .links-wrapper .links .sub-menu {
        display: none;
        position: relative;
        top: 0;
    }
    .links-wrapper .links .sub-menu li {
        border-bottom: none;
    }
    .links-wrapper .links .sub-menu li a {
        color: var(--clr-offWhite);
        font-weight: 300;
    }
    .links-wrapper .links li:hover .packages-sub-menu {
        display: none;
    }
    .links-wrapper .links li:hover .events-sub-menu {
        display: none;
    }
    .links-wrapper .links li:hover .packages-arrow,
    .links-wrapper .links li:hover .events-arrow {
        transform: rotate(0deg);
    }
    .links-wrapper.active-packages-menu .links .sub-menu.packages-sub-menu {
        display: block;
    }
    .links-wrapper.active-events-menu .links .sub-menu.events-sub-menu {
        display: block;
    }
    .links-wrapper .links li:hover {
        background: transparent;
    }
    .links-wrapper.active-packages-menu .links li .packages-arrow,
    .links-wrapper.active-events-menu .links li .events-arrow {
        transform: rotate(90deg);
        line-height: 0;
    }
    .hamburger-menu {
        display: flex;
    }
    header.active .hamburger-menu::before {
        transform: rotate(45deg);
    }
    header.active .hamburger-menu::after {
        transform: rotate(315deg);
    }
    .wrapper.active .transparent-overlay {
        pointer-events: all;
    }
    .transparent-overlay {
        display: block;
        position: fixed;
        inset: 0;
        pointer-events: none;
        z-index: -1;
    }
}
@media screen and (max-width: 1113px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-container .title {
        grid-column: span 2;
    }
}
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .grid-container .title {
        text-align: left;
        grid-column: span 1;
    }
}
@media screen and (max-width: 575px) {
    .links-wrapper {
        max-width: 100%;
    }
    .links-wrapper .links li {
        padding: 0 .5rem;
    }
}
/* dark mode */
@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background: var(--clr-blk);
    }
    ::-webkit-scrollbar-thumb {
        background: var(--clr-chalk);
    }
    body {
        background: var(--clr-blk);
    }
    .grid-container .title {
        color: var(--clr-offWhite);
    }
    .grid-container img {
        color: var(--clr-white);
    }
    .img-focus {
        background: var(--clr-darkGrey);
    }
}