@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #fefefe;
    --clr-offWhite: #c6c5c5;
    --clr-chalk: #dbdada;
    --clr-milkWhite: #fcfbfb;
    --clr-daisyWhite: #e4e4e4;
    --clr-alabasterWhite: #d7d5d5;
    --clr-blk: #000000;
    --clr-grey: #a9a8a8;
    --clr-brown: #5e4e4e;
    --clr-coolGrey: #696767;
    --clr-shadowGrey: #4b4b4b;
    --clr-darkGrey: #2c2c2c;
    --clr-charcoal: #282727;
    --clr-purple: #5d0f9c;
    --clr-lightPurple: #7f22cb;
    --clr-darkPurple: #461270;
    --clr-lilac: #861cdc;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--clr-lilac);
}
body {
    color: var(--clr-darkGrey);
    background: var(--clr-white);
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    padding-bottom: .7rem;
    cursor: default;
}
.wrapper {
    max-width: 90rem;
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 90rem;
    padding: 0 15px;
    background: var(--clr-purple);
    min-height: 70px;
    z-index: 1;
}
.logo {
    position: absolute;
    left: 5.75rem;
    color: var(--clr-white);
    font-family: "Great Vibes", cursive;
    font-size: clamp(2rem, 3vw, 2.5rem);
    letter-spacing: .5px;
    text-decoration: none;
}
header img {
    position: relative;
    bottom: .35rem;
    width: 70px;
    height: auto;
    color: var(--clr-white);
}
/* nav */
nav ul {
    position: relative;
}
nav ul li {
    position: relative;
    list-style: none;
    float: left;
}
nav ul li i {
    position: relative;
    left: .5rem;
    color: var(--clr-chalk);
    font-size: clamp(.95rem, 3vw, 1rem);
}
nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 200;
    text-transform: capitalize;
    padding: 25px 30px;
    color: var(--clr-white);
    transition: 250ms;
}
nav ul li a:hover {
    background-color: var(--clr-lightPurple);
}
nav ul li ul {
    display: none;
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--clr-purple);
}
nav ul li:hover > ul {
    display: block;
}
nav ul li ul li {
    position: relative;
    width: 100%;
    border: 1px solid rgba(239, 239, 239, 0.3);
}
/* banner */
.img-container {
    position: relative;
}
.img-container img {
    width: 100%;
    height: auto;
    filter: brightness(45%);
}
.img-container .header {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--clr-milkWhite);
    text-transform: capitalize;
}
.img-container .header h1 {
    text-transform: capitalize;
    font-size: clamp(1.75rem, 3vw, 3.5rem);
    font-weight: 200;
}
.img-container .header p {
    font-size: clamp(1.25rem, 3vw, 1.75rem);
    font-weight: 200;
}
/* menu */
.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0 1rem;
}
.menu-container .title {
    grid-column: span 2;
    position: relative;
    text-transform: capitalize;
    letter-spacing: .5px;
    text-align: center;
    margin: 35px auto;
}
.menu-container .title h2 {
    font-size: clamp(1.5rem, 3vw, 2.1rem);
    font-weight: 200;
}
.menu-container .title h2::before {
    content: '';
    position: absolute;
    bottom: 45%;
    width: 15px;
    height: 1.25px;
    background: var(--clr-darkGrey);
}
.menu-container .title h2::after {
    content: '';
    position: absolute;
    bottom: 45%;
    width: 15px;
    height: 1.25px;
    background: var(--clr-darkGrey);
}
.menu-container .title .appetizer::before {
    content: '';
    left: 105%;
}
.menu-container .title .appetizer::after {
    right: 105%;
}
.menu-container .title .main::before {
    left: 115%;
}
.menu-container .title .main::after {
    right: 115%;
}
.menu-container .title .dessert::before {
    left: 110%;
}
.menu-container .title .dessert::after {
    right: 110%;
}
.menu-container .title .drinks::before {
    left: 110%;
}
.menu-container .title .drinks::after {
    right: 110%;
}
.menu-container .title .drinks::before {
    left: 110%;
}
.menu-container .title .drinks::after {
    right: 110%;
}
.menu-container .title .drinks-alcohol::before {
    left: 105%;
}
.menu-container .title .drinks-alcohol::after {
    right: 105%;
}
.menu-container .menu {
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .4);
}
.menu-container .menu img {
    width: 125px;
    height: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.menu-container .menu .content {
    display: flex;
    height: 100%;
    border-radius: 5px;
    background: var(--clr-milkWhite);
}
.menu-container .menu .content .description {
    margin: 7px .75rem;
    width: 70%;
    background: var(--clr-milkWhite);
}
.menu-container .menu .content .description h3 {
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: .15px;
    margin-bottom: .5rem;
}
.menu-container .menu .content .description h3 span {
    font-size: clamp(.9rem, 3vw, 1.05rem);
    color: var(--clr-coolGrey);
    padding-left: .5rem;
}
.menu-container .menu .content .description p {
    margin: 5px auto;
    font-size: clamp(.9rem, 3vw, 1rem);
    font-weight: 300;
}
/* package cost and package deals */
.price-container {
    margin: 45px auto 0;
    padding: 0 1rem;
}
.price-container.package-advert {
    color: var(--clr-milkWhite);
    font-size: clamp(1.1rem, 3vw, 1.2rem);
    font-weight: 200;
    text-align: center;
}
.price-container .content {
    background: var(--clr-purple);
    padding: 2.75rem 0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.price-container.package-advert .content {
    padding: 3.5rem 0;
}
.price-container .content .title h4 {
    position: relative;
    bottom: 1.75rem;
    font-size: clamp(1.45rem, 3vw, 1.75rem);
    font-weight: 200;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-white);
    padding: 0 .5rem;
}
.price-container.package-advert .content .title p {
    letter-spacing: 1px;
}
.price-container .content .package-price {
    margin: 20px auto 0;
}
.price-container .content .package-price ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
    gap: 2rem;
}
.price-container .content .package-price ul li {
    list-style: none;
    text-transform: capitalize;
    line-height: 2;
    letter-spacing: 1.5px;
    text-align: center;
    font-weight: 300;
    color: var(--clr-milkWhite);
}
/* package options */
.package-container .content,
.package-container.packages .content {
    display: grid;
    margin: 10px auto 0;
    padding: 0 1rem;
    gap: .5rem;
}
.package-container .content {
    grid-template-columns: repeat(2, 1fr);
}
.package-container.packages .content {
    grid-template-columns: repeat(3, 1fr);
}
.package-container .content .left,
.package-container .content .center,
.package-container .content .right {
    margin: 0 auto;
    text-align: center;
    background: var(--clr-purple);
    border-radius: 5px;
    width: 100%;
    padding: 3rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.package-container .content h4 {
    color: var(--clr-white);
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: clamp(1.2rem, 3vw, 1.4rem);
}
.package-container .content .btn {
    margin: 30px auto 0;
}
.package-container .content .btn a {
    padding: .5rem .75rem;
    background: var(--clr-lightPurple);
    color: var(--clr-white);
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    transition: 200ms ease-out;
}
.package-container .content .btn a:hover {
    background: var(--clr-darkPurple);
}
/* media query's*/
@media screen and (max-width: 1145px) {
    nav {
        display: none;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background: var(--clr-purple);
    }
    header.active nav {
        display: block;
    }
    nav ul li {
        width: 100%;
    }
    nav ul li ul {
        position: relative;
        left: 0;
        width: 100%;
    }
    nav ul li ul li {
        border: 1px solid rgba(239, 239, 239, 0);
    }
    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 20px;
        height: 25px;
    }
    .hamburger-menu::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--clr-white);
        transform: translateY(-5px);
        transition: 250ms ease;
    }
    .hamburger-menu::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--clr-white);
        transform: translateY(5px);
        transition: 250ms ease;
    }
    header.active .hamburger-menu::before {
        transform: rotate(45deg);
    }
    header.active .hamburger-menu::after {
        transform: rotate(315deg);
    }
}
@media screen and (max-width: 1180px) {
    .menu-container {
        grid-template-columns: repeat(3, 1fr);
        gap: .75rem;
        padding: 0 1rem;
    }
    .menu-container .title {
        grid-column: span 3;
    }
    .menu-container .menu img {
        width: 100%;
        object-fit: contain;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .menu-container .menu .content {
        flex-direction: column;
    }
    .menu-container .menu .content .description {
        width: 100%;
        margin: 0;
        padding: .55rem;
    }
    .price-container,
    .price-container.package-advert {
        padding: 0 1rem;
    }
    .price-container.package-advert .content p {
        padding: 0 1.5rem;
    }
    .package-container .content,
    .package-container.packages .content {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 835px) {
    .package-container.packages .content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 786px) {
    .menu-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-container .title {
        grid-column: span 2;
    }
}
@media screen and (max-width: 735px) {
    .package-container .content {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 575px) {
    .package-container.packages .content {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .menu-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .menu-container .title {
        grid-column: span 1;
    }
    .menu-container .menu .content img {
        display: none;
    }
}
@media screen and (max-width: 475px) {
    .img-container .header p {
        display: none;
    }
}
/* dark mode */
@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background: var(--clr-blk);
    }
    ::-webkit-scrollbar-thumb {
        background: var(--clr-lilac);
    }
    body {
        background: var(--clr-blk);
    }
    nav ul li ul li {
        border: 1px solid rgba(40, 40, 40, 0.3);
    }
    .img-container .header {
        color: var(--clr-chalk);
    }
    .menu-container .title h2 {
        color: var(--clr-daisyWhite);
    }
    .menu-container .title .appetizer::before {
        content: '';
        background: var(--clr-chalk);
    }
    .menu-container .title .appetizer::after {
        content: '';
        background: var(--clr-daisyWhite);
    }
    .menu-container .title .main::before {
        content: '';
        background: var(--clr-daisyWhite);
    }
    .menu-container .title .main::after {
        background: var(--clr-daisyWhite);
    }
    .menu-container .title .dessert::before,
    .menu-container .title .dessert::after,
    .menu-container .title .drinks::before,
    .menu-container .title .drinks::after,
    .menu-container .title .drinks::before,
    .menu-container .title .drinks::after,
    .menu-container .title .drinks-alcohol::before,
    .menu-container .title .drinks-alcohol::after {
        background: var(--clr-daisyWhite);
    }
    .menu-container .menu .content {
        color: var(--clr-chalk);
        background: var(--clr-charcoal);
    }
    .menu-container .menu .content .description h3 span {
        color: var(--clr-grey);
    }
    .menu-container .menu .content .description {
        background: var(--clr-charcoal);
    }
    .price-container .content {
        background: var(--clr-charcoal);
    }
    .price-container .content .title h4 {
        color: var(--clr-alabasterWhite);
    }
    .price-container.package-advert .content .title p {
        color: var(--clr-alabasterWhite);
    }
    .price-container .content .package-price ul li {
        color: var(--clr-alabasterWhite);
    }
    .package-container .content .left,
    .package-container .content .center,
    .package-container .content .right {
        background: var(--clr-charcoal);
    }
    .package-container .content h4 {
        color: var(--clr-alabasterWhite);
    }
    .package-container .content .btn a {
        background: var(--clr-shadowGrey);
    }
    .package-container .content .btn a:hover {
        background: var(--clr-coolGrey);
    }
}