@font-face {
  font-display: swap;
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/great-vibes-v21-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/poppins-v24-latin-200.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #fefefe;
    --clr-offWhite: #c6c5c5;
    --clr-chalk: #dbdada;
    --clr-chevronWhite: #d6d4d4;
    --clr-milkWhite: #fcfbfb;
    --clr-daisyWhite: #e4e4e4;
    --clr-alabasterWhite: #d7d5d5;
    --clr-blk: #000000;
    --clr-grey: #a9a8a8;
    --clr-coolGrey: #9b9b9b;
    --clr-mediumGrey: #393838;
    --clr-shadowGrey: #4b4b4b;
    --clr-darkGrey: #2c2c2c;
    --clr-charcoal: #282727;
    --clr-purple: #5d0f9c;
    --clr-lightPurple: #7f22cb;
    --clr-darkPurple: #461270;
    --clr-mauve: #8f6ca9;
    --clr-lilac: #861cdc;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--clr-lilac);
}
body {
    color: var(--clr-darkGrey);
    background: var(--clr-white);
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    padding-bottom: 1rem;
    cursor: default;
}
.wrapper {
    max-width: 90rem;
}
nav {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--clr-purple);
    z-index: 1;
}
.logo {
    display: flex;
    align-items: center;
    color: var(--clr-white);
    font-family: "Great Vibes", cursive;
    font-size: clamp(2rem, 3vw, 2.5rem);
    letter-spacing: .5px;
    text-decoration: none;
    z-index: 2;
}
.logo h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1.5rem;
}
.logo h2 a:focus {
    outline: none;
}
.logo h2 a:focus-visible {
    outline: 2px solid var(--clr-chalk);
}
.logo img {
    position: relative;
    bottom: .35rem;
    left: 1rem;
    width: 70px;
    height: auto;
    color: var(--clr-white);
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    height: 2rem;
    width: 1.25rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}
.links-wrapper {
    position: relative;
    height: 100%;
    line-height: 70px;
}
.links-wrapper .links {
    display: flex;
    cursor: pointer;
    margin-right: 1rem;
}
.links-wrapper .links li {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 0 25px;
    transition: 250ms ease;
}
.links-wrapper .links li:hover {
    background: var(--clr-lilac);
}
.links-wrapper .links li i {
    position: relative;
    top: 1.75px;
    left: .15rem;
    font-size: .9rem;
}
.links-wrapper .links li a {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 200;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: .5px;
    color: var(--clr-white);
}
.links-wrapper .links li a:focus {
    outline: none;
}
.links-wrapper .links li a:focus-visible {
    outline: solid 2px var(--clr-chalk);
}
.links-wrapper .links li .arrow {
    text-align: center;
    color: var(--clr-chevronWhite);
    width: 22px;
    height: 100%;
    line-height: 70px;
    transition: 250ms ease-in-out all;
}
.links-wrapper .links li:hover .packages-arrow,
.links-wrapper .links li:hover .events-arrow {
    transform: rotate(90deg);
}
.links-wrapper .links .packages:focus-within .packages-arrow,
.links-wrapper .links .events:focus-within .events-arrow {
    transform: rotate(90deg);
}
.links-wrapper .links .sub-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background: var(--clr-purple);
    line-height: 70px;
    width: 175px;
    min-width: 100%;
}
.links-wrapper .links .sub-menu li {
    border-bottom: solid 1.35px var(--clr-mauve);
}
.links-wrapper .links .sub-menu li:last-child {
    border-bottom: none;
}
.links-wrapper .links .sub-menu li a {
    color: var(--clr-white);
    width: 100%;
}
.links-wrapper .links li:hover .packages-sub-menu,
.links-wrapper .links li:hover .events-sub-menu {
    display: block;
}
.links-wrapper .links .packages:focus-within .packages-sub-menu,
.links-wrapper .links .events:focus-within .events-sub-menu {
    display: block;
}
.bars {
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-white);
    transition: 350ms ease;
}
.bars::before {
    transform: translateY(-4px);
}
.bars::after {
    transform: translateY(4px);
}
.wrapper.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(45deg);
}
.wrapper.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(-45deg);
}
.banner {
    position: relative;
    bottom: 1.5px;
}
.banner img {
    width: 100%;
    height: auto;
    filter: brightness(45%);
}
.banner .title {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--clr-milkWhite);
    text-transform: capitalize;
}
.banner .title h1 {
    text-transform: capitalize;
    font-size: clamp(1.75rem, 3vw, 3.5rem);
    font-weight: 200;
}
.banner .title p {
    font-size: clamp(1.25rem, 3vw, 1.75rem);
    font-weight: 200;
}
.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .6rem;
    padding: 0 .75rem;
}
.menu-container .title {
    grid-column: span 2;
    position: relative;
    text-transform: capitalize;
    letter-spacing: .5px;
    text-align: center;
    margin: 35px auto;
}
.menu-container .title h2 {
    font-size: clamp(1.5rem, 3vw, 2.1rem);
    font-weight: 200;
}
.menu-container .title h2::before {
    content: '';
    position: absolute;
    bottom: 45%;
    width: 15px;
    height: 1.25px;
    background: var(--clr-darkGrey);
}
.menu-container .title h2::after {
    content: '';
    position: absolute;
    bottom: 45%;
    width: 15px;
    height: 1.25px;
    background: var(--clr-darkGrey);
}
.menu-container .title .appetizer::before {
    content: '';
    left: 105%;
}
.menu-container .title .appetizer::after {
    right: 105%;
}
.menu-container .title .main::before {
    left: 115%;
}
.menu-container .title .main::after {
    right: 115%;
}
.menu-container .title .dessert::before {
    left: 110%;
}
.menu-container .title .dessert::after {
    right: 110%;
}
.menu-container .title .drinks::before {
    left: 110%;
}
.menu-container .title .drinks::after {
    right: 110%;
}
.menu-container .title .drinks::before {
    left: 110%;
}
.menu-container .title .drinks::after {
    right: 110%;
}
.menu-container .title .drinks-alcohol::before {
    left: 105%;
}
.menu-container .title .drinks-alcohol::after {
    right: 105%;
}
.menu-container .menu {
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}
.menu-container .menu img {
    width: 145px;
    height: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    object-fit: cover;
}
.menu-container .menu .content {
    display: flex;
    height: 100%;
    border-radius: 5px;
    background: var(--clr-milkWhite);
}
.menu-container .menu .content .description {
    margin: 7px .75rem;
    width: 70%;
    background: var(--clr-milkWhite);
}
.menu-container .menu .content .description h3 {
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: .15px;
    margin-bottom: .5rem;
}
.menu-container .menu .content .description h3 span {
    font-size: clamp(.9rem, 3vw, 1.05rem);
    color: var(--clr-coolGrey);
    padding-left: .5rem;
}
.menu-container .menu .content .description p {
    margin: 5px auto;
    font-size: clamp(.9rem, 3vw, 1rem);
    font-weight: 300;
}
.price-container {
    margin: 20px auto 0;
    padding: 0 .75rem;
}
.price-container.package-advert {
    font-size: clamp(1.1rem, 3vw, 1.2rem);
    font-weight: 200;
    text-align: center;
}
.price-container .content {
    background: var(--clr-white);
    border-radius: 5px;
    padding: 2.75rem 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}
.price-container.package-advert .content {
    padding: 3.5rem 0;
}
.price-container .content .title h4 {
    position: relative;
    bottom: 1.75rem;
    font-size: clamp(1.45rem, 3vw, 1.75rem);
    font-weight: 200;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-darkGrey);
    padding: 0 .5rem;
}
.price-container.package-advert .content .title p {
    letter-spacing: 1px;
    color: var(--clr-darkGrey);
}
.price-container .content .package-price {
    margin: 20px auto 0;
}
.price-container .content .package-price ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
    gap: 2rem;
}
.price-container .content .package-price ul li {
    list-style: none;
    text-transform: capitalize;
    line-height: 2;
    letter-spacing: 1.5px;
    text-align: center;
    font-weight: 300;
    color: var(--clr-charcoal);
}
.package-container .content,
.package-container.packages .content {
    display: grid;
    margin: .6rem auto 0;
    padding: 0 .75rem;
    gap: .6rem;
}
.package-container .content {
    grid-template-columns: repeat(2, 1fr);
}
.package-container.packages .content {
    grid-template-columns: repeat(3, 1fr);
}
.package-container .content .left,
.package-container .content .center,
.package-container .content .right {
    margin: 0 auto;
    text-align: center;
    background: var(--clr-white);
    border-radius: 5px;
    width: 100%;
    padding: 3rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}
.package-container .content h4 {
    color: var(--clr-charcoal);
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: clamp(1.2rem, 3vw, 1.4rem);
}
.package-container .content .btn {
    display: inline-block;
    margin: 30px auto 0;
    padding: .5rem .75rem;
    background: var(--clr-coolGrey);
    color: var(--clr-white);
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
    transition: 200ms ease-out;
}
.package-container .content .btn:hover {
    background: var(--clr-shadowGrey);
}
.package-container .content .btn:focus {
    outline: none;
}
.package-container .content .btn:focus-visible {
    outline: 4px solid var(--clr-lilac);
}
@media screen and (max-width: 1145px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    .wrapper.active .links-wrapper {
        transform: translateX(0);
    }
    nav {
        position: relative;
        max-width: 100%;
        padding: 0 25px;
    }
    .logo h2 {
        margin-left: -.5rem;
    }
    .logo img {
        left: -1.1rem;
    }
    .links-wrapper {
        display: block;
        position: fixed;
        background: var(--clr-purple);
        top: 0;
        right: 0;
        max-width: 300px;
        width: 100%;
        transform: translateX(100%);
        transition: 250ms ease-in-out;
        padding: 15px;
        -webkit-tap-highlight-color: transparent;
        overflow-y: auto;
    }
    .links-wrapper .links {
        display: block;
        position: relative;
        top: 3rem;
    }
    .links-wrapper .links li {
        display: block;
    }
    .links-wrapper .links li i {
        top: 0;
    }
    .links-wrapper .links .sub-menu {
        display: none;
        position: relative;
        top: 0;
    }
    .links-wrapper .links .sub-menu li {
        border-bottom: none;
    }
    .links-wrapper .links .sub-menu li a {
        color: var(--clr-offWhite);
        font-weight: 300;
    }
    .links-wrapper .links .packages > a,
    .links-wrapper .links .events > a {
        pointer-events: none;
    }
    .links-wrapper .links li:hover .packages-sub-menu,
    .links-wrapper .links li:hover .events-sub-menu {
        display: none;
    }
    .links-wrapper .links li:hover .packages-arrow,
    .links-wrapper .links li:hover .events-arrow {
        transform: rotate(0deg);
    }
    .links-wrapper.packages-menu-open .links .sub-menu.packages-sub-menu,
    .links-wrapper.events-menu-open .links .sub-menu.events-sub-menu {
        display: block;
    }
    .links-wrapper .links li:hover {
        background: transparent;
    }
    .links-wrapper.packages-menu-open .links li .packages-arrow,
    .links-wrapper.events-menu-open .links li .events-arrow {
        transform: rotate(90deg);
        line-height: 0;
    }
    .hamburger-menu {
        display: flex;
    }
    header.active .hamburger-menu::before {
        transform: rotate(45deg);
    }
    header.active .hamburger-menu::after {
        transform: rotate(315deg);
    }
}
@media screen and (max-width: 900px) {
    .menu-container {
        grid-template-columns: repeat(3, 1fr);
        gap: .75rem;
        padding: 0 .55rem;
    }
    .menu-container .title {
        grid-column: span 3;
    }
    .menu-container .menu img {
        width: 100%;
        object-fit: contain;
        border-top-right-radius: 5px;
    }
    .menu-container .menu .content {
        flex-direction: column;
    }
    .menu-container .menu .content .description {
        width: 100%;
        margin: 0;
        padding: .55rem;
        border-radius: 5px;
    }
    .price-container {
        padding: 0 .55rem;
    }
    .price-container.package-advert {
        padding: 0 1rem;
    }
    .price-container.package-advert .content p {
        padding: 0 1.5rem;
    }
    .package-container .content,
    .package-container.packages .content {
        padding: 0 .55rem;
    }
}
@media screen and (max-width: 786px) {
    .menu-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-container .title {
        grid-column: span 2;
    }
}
@media screen and (max-width: 675px) {
    .package-container .content {
        grid-template-columns: 1fr;
    }
    .package-container.packages .content {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 575px) {
    .links-wrapper {
        max-width: 100%;
    }
    .links-wrapper .links li {
        padding: 0 .5rem;
    }
    .banner {
        display: none;
    }
    .menu-container {
        grid-template-columns: 1fr;
    }
    .menu-container .title {
        grid-column: span 1;
    }
    .menu-container .menu .content img {
        display: none;
    }
}
@media screen and (max-width: 932px) and (max-height: 500px) and (orientation: landscape) {
    .banner {
        display: none;
    }
    .menu-container {
        grid-template-columns: 1fr;
    }
    .menu-container .title {
        grid-column: span 1;
    }
    .menu-container .menu .content img {
        display: none;
    }
    .menu-container .menu .content .description h3 {
        font-size: clamp(1.1rem, 1.5vw, 1.25rem);
    }
    .menu-container .menu .content .description p {
        font-size: clamp(0.9rem, 1.4vw, 1rem);
    }
    .menu-container .title h2 {
        font-size: clamp(1.5rem, 2vw, 2rem);
    }
}
@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background: var(--clr-blk);
    }
    ::-webkit-scrollbar-thumb {
        background: var(--clr-chalk);
    }
    body {
        background: var(--clr-blk);
    }
    .banner .title {
        color: var(--clr-chalk);
    }
    .menu-container .title h2 {
        color: var(--clr-daisyWhite);
    }
    .menu-container .title .appetizer::before {
        content: '';
        background: var(--clr-chalk);
    }
    .menu-container .title .appetizer::after {
        content: '';
        background: var(--clr-daisyWhite);
    }
    .menu-container .title .main::before {
        content: '';
        background: var(--clr-daisyWhite);
    }
    .menu-container .title .main::after {
        background: var(--clr-daisyWhite);
    }
    .menu-container .title .dessert::before,
    .menu-container .title .dessert::after,
    .menu-container .title .drinks::before,
    .menu-container .title .drinks::after,
    .menu-container .title .drinks::before,
    .menu-container .title .drinks::after,
    .menu-container .title .drinks-alcohol::before,
    .menu-container .title .drinks-alcohol::after {
        background: var(--clr-daisyWhite);
    }
    .menu-container .menu .content {
        color: var(--clr-chalk);
        background: var(--clr-charcoal);
    }
    .menu-container .menu .content .description h3 span {
        color: var(--clr-grey);
    }
    .menu-container .menu .content .description {
        background: var(--clr-charcoal);
    }
    .price-container .content {
        background: var(--clr-charcoal);
    }
    .price-container .content .title h4 {
        color: var(--clr-alabasterWhite);
    }
    .price-container.package-advert .content .title p {
        color: var(--clr-alabasterWhite);
    }
    .price-container .content .package-price ul li {
        color: var(--clr-alabasterWhite);
    }
    .package-container .content .left,
    .package-container .content .center,
    .package-container .content .right {
        background: var(--clr-charcoal);
    }
    .package-container .content h4 {
        color: var(--clr-alabasterWhite);
    }
    .package-container .content .btn {
        background: var(--clr-shadowGrey);
    }
    .package-container .content .btn:hover {
        background: var(--clr-mediumGrey);
    }
    .package-container .content .btn:focus-visible {
        outline: 4px solid var(--clr-chalk);
    }
}