* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #fefefe;
    --clr-offWhite: #c6c5c5;
    --clr-chalk: #dbdada;
    --clr-milkWhite: #fcfbfb;
    --clr-alabasterWhite: #d7d5d5;
    --clr-blk: #000000;
    --clr-green: #358510;
    --clr-red: #a71a31;
    --clr-grey: #a9a8a8;
    --clr-charcoal: #282727;
    --clr-coolGrey: #9b9b9b;
    --clr-shadowGrey: #4b4b4b;
    --clr-darkGrey: #2c2c2c;
    --clr-purple: #5d0f9c;
    --clr-lightPurple: #7f22cb;
    --clr-darkPurple: #461270;
    --clr-mauve: #8f6ca9;
    --clr-lilac: #861cdc;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--clr-lilac);
}
body {
    color: var(--clr-darkGrey);
    background: var(--clr-white);
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    padding-bottom: .75rem;
    cursor: default;
}
.wrapper {
    max-width: 90rem;
}
/* nav */
.nav-overlay {
    display: none;
}
nav {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--clr-purple);
    z-index: 1;
}
.logo {
    display: flex;
    align-items: center;
    color: var(--clr-white);
    font-family: "Great Vibes", cursive;
    font-size: clamp(2rem, 3vw, 2.5rem);
    letter-spacing: .5px;
    text-decoration: none;
    z-index: 2;
}
.logo h1 {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1.5rem;
}
.logo img {
    position: relative;
    bottom: .35rem;
    left: 1rem;
    width: 70px;
    height: auto;
    color: var(--clr-white);
}
.hamburger-menu {
    display: none;
}
.links-wrapper {
    position: relative;
    height: 100%;
    line-height: 70px;
}
.links-wrapper .links {
    display: flex;
    cursor: pointer;
    margin-right: 1rem;
}
.links-wrapper .links li {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 0 25px;
    transition: 250ms ease;
}
.links-wrapper .links li:hover {
    background: var(--clr-lilac);
}
.links-wrapper .links li i {
    position: relative;
    top: 1.75px;
    left: .15rem;
    font-size: .9rem;
}
.links-wrapper .links li a {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 200;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: .5px;
    color: var(--clr-white);
}
.links-wrapper .links li .arrow {
    text-align: center;
    color: var(--clr-white);
    width: 22px;
    height: 100%;
    line-height: 70px;
    transition: 250ms ease-in-out all;
}
.links-wrapper .links li:hover .packages-arrow,
.links-wrapper .links li:hover .events-arrow {
    transform: rotate(90deg);
}
.links-wrapper .links .sub-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background: var(--clr-purple);
    line-height: 70px;
    width: 175px;
    min-width: 100%;
}
.links-wrapper .links .sub-menu li {
    border-bottom: solid 1.35px var(--clr-mauve);
}
.links-wrapper .links .sub-menu li:last-child {
    border-bottom: none;
}
.links-wrapper .links .sub-menu li a {
    color: var(--clr-white);
    width: 100%;
}
.links-wrapper .links li:hover .packages-sub-menu,
.links-wrapper .links li:hover .events-sub-menu {
    display: block;
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.2rem;
    right: 1.2em;
    height: 2rem;
    width: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}
.bars {
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-white);
    transition: 350ms ease;
}
.bars::before {
    transform: translateY(-4px);
}
.bars::after {
    transform: translateY(4px);
}
.wrapper.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(45deg);
}
.wrapper.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(-45deg);
}
/* banner */
.img-container {
    position: relative;
}
.img-container img {
    width: 100%;
    height: auto;
    filter: brightness(45%);
}
.img-container .banner-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    inset: 0;
    color: var(--clr-milkWhite);
    text-transform: capitalize;
}
.img-container .banner-title h1 {
    font-size: clamp(1.75rem, 3vw, 3.5rem);
    font-weight: 200;
}
.img-container p {
    font-size: clamp(1.25rem, 3vw, 1.75rem);
    font-weight: 200;
}
/* grid-container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .5rem 1rem;
    grid-template-areas: 
        'img-one content-one'
        'content-two img-two'
        'img-three content-three'
        'content-four img-four';
}
.grid-container .img-one {
    grid-area: img-one;
}
.grid-container .content-one {
    grid-area: content-one;
}
.grid-container .content-two {
    grid-area: content-two;
}
.grid-container .img-two {
    grid-area: img-two;
}
.grid-container .img-three {
    grid-area: img-three;
}
.grid-container .content-three {
    grid-area: content-three;
}
.grid-container .content-four {
    grid-area: content-four;
}
.grid-container .img-four {
    grid-area: img-four;
}
.grid-container img {
    width: 100%;
    height: auto;
}
.grid-container .left img {
    mask-image: linear-gradient(90deg, 
                rgba(0, 0, 0, 1) 50%, 
                transparent 90%);
}
.grid-container .right img {
    mask-image: linear-gradient(-90deg, 
                rgba(0, 0, 0, 1) 50%, 
                transparent 90%);
}
.grid-container .right h2:nth-child(1) {
    margin: 0 auto;
}
.grid-container .right h2,
.grid-container .right p {
    width: 95%;
}
.grid-container .left h2,
.grid-container .right h2 {
    text-transform: capitalize;
    font-weight: 400;
    margin: 15px auto 0;
}
.grid-container .left p,
.grid-container .right p {
    margin: 15px auto;
}
.grid-container ul li {
    list-style: none;
    margin: 20px auto 0;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}
.grid-container ul li i {
    color: var(--clr-green);
    margin-right: 1rem;
}
.grid-container ul li .not-included {
    color: var(--clr-red);
}
/* package options */
.package-container .content {
    display: grid;
    margin: 10px auto 0;
    padding: 0 1rem;
    gap: .5rem;
}
.package-container .content {
    grid-template-columns: repeat(2, 1fr);
}
.package-container .content .left,
.package-container .content .right {
    margin: 0 auto;
    text-align: center;
    background: var(--clr-purple);
    border-radius: 5px;
    width: 100%;
    padding: 3rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.package-container .content h3 {
    color: var(--clr-white);
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: clamp(1.2rem, 3vw, 1.4rem);
}
.package-container .content .btn {
    margin: 30px auto 0;
}
.package-container .content .btn a {
    padding: .5rem .75rem;
    background: var(--clr-lightPurple);
    color: var(--clr-white);
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    transition: 200ms ease-out;
}
.package-container .content .btn a:hover {
    background: var(--clr-darkPurple);
}
/* package cost */
.price-container {
    margin: 10px auto 0;
    padding: 0 1rem;
}
.price-container .content {
    background: var(--clr-purple);
    padding: 2.75rem 0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.price-container .content .title h3 {
    position: relative;
    bottom: 1.75rem;
    font-size: clamp(1.45rem, 3vw, 1.75rem);
    font-weight: 200;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-white);
    padding: 0 .5rem;
}
.price-container .content .package-price {
    margin: 20px auto 0;
}
.price-container .content .package-price ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
    gap: 2rem;
}
.price-container .content .package-price ul li {
    list-style: none;
    text-transform: capitalize;
    line-height: 2;
    letter-spacing: 1.5px;
    text-align: center;
    font-weight: 300;
    color: var(--clr-milkWhite);
}
/* bookings and availability */
.bookings-container {
    margin: 10px auto 0;
    padding: 0 1rem;
}
.bookings-container .content {
    background: var(--clr-purple);
    padding: 2.75rem 0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.bookings-container .content .title h3 {
    position: relative;
    bottom: 1.75rem;
    font-size: clamp(1.45rem, 3vw, 1.75rem);
    font-weight: 200;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-white);
    padding: 0 .5rem;
}
.bookings-container .content .availability {
    margin: 20px auto 0;
}
.bookings-container .content .availability ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 4fr));
    gap: 2rem;
    justify-items: center;
}
.bookings-container .content .availability ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    text-transform: capitalize;
    line-height: 2;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: clamp(1rem, 3vw, 1.1rem);
    color: var(--clr-milkWhite);
}
.bookings-container .content .availability ul li span {
    color: var(--clr-offWhite);
    font-size: clamp(.9rem, 3vw, .99rem);
}
.bookings-container .content .availability ul li .available {
    color: var(--clr-chalk);
    text-decoration: underline;
    cursor: pointer;
}
/* media query's*/
@media screen and (max-width: 1145px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    .wrapper.active .links-wrapper {
        transform: translateX(0);
    }
    .nav-overlay {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 70px;
        background: var(--clr-purple);
        z-index: 2;
    }
    nav {
        position: relative;
        max-width: 100%;
        padding: 0 25px;
    }
    .logo h1 {
        margin-left: 0;
    }
    .logo img {
        left: -.6rem;
    }
    .links-wrapper {
        display: block;
        position: fixed;
        background: var(--clr-purple);
        top: 0;
        right: 0;
        max-width: 300px;
        width: 100%;
        transform: translateX(100%);
        transition: 250ms ease-in-out;
        padding: 15px;
        -webkit-tap-highlight-color: transparent;
        overflow-y: auto;
    }
    .links-wrapper .links {
        display: block;
        position: relative;
        top: 3rem;
    }
    .links-wrapper .links li {
        display: block;
    }
    .links-wrapper .links li i {
        top: 0;
    }
    .links-wrapper .links .sub-menu {
        display: none;
        position: relative;
        top: 0;
    }
    .links-wrapper .links .sub-menu li {
        border-bottom: none;
    }
    .links-wrapper .links .sub-menu li a {
        color: var(--clr-offWhite);
        font-weight: 300;
    }
    .links-wrapper .links li:hover .packages-sub-menu {
        display: none;
    }
    .links-wrapper .links li:hover .events-sub-menu {
        display: none;
    }
    .links-wrapper .links li:hover .packages-arrow,
    .links-wrapper .links li:hover .events-arrow {
        transform: rotate(0deg);
    }
    .links-wrapper.active-packages-menu .links .sub-menu.packages-sub-menu {
        display: block;
    }
    .links-wrapper.active-events-menu .links .sub-menu.events-sub-menu {
        display: block;
    }
    .links-wrapper .links li:hover {
        background: transparent;
    }
    .links-wrapper.active-packages-menu .links li .packages-arrow,
    .links-wrapper.active-events-menu .links li .events-arrow {
        transform: rotate(90deg);
        line-height: 0;
    }
    .hamburger-menu {
        display: flex;
    }
    header.active .hamburger-menu::before {
        transform: rotate(45deg);
    }
    header.active .hamburger-menu::after {
        transform: rotate(315deg);
    }
    .grid-container ul li {
        margin: 15px auto 0;
    }
}
@media screen and (max-width: 1100px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            'img-one'
            'content-one'
            'img-two'
            'content-two'
            'img-three'
            'content-three'
            'img-four'
            'content-four';
    }
    .grid-container .left img,
    .grid-container .right img {
        mask-image: linear-gradient(180deg, 
                    rgba(0, 0, 0, 1) 50%, 
                    transparent 90%);
    }
    .grid-container .right h2,
    .grid-container .right p {
        width: 100%;
    }
    .grid-container ul li {
        margin: 20px auto;
    }
}
@media screen and (max-width: 735px) {
    .package-container .content {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 575px) {
    .links-wrapper {
        max-width: 100%;
    }
    .links-wrapper .links li {
        padding: 0 .5rem;
    }
    .img-container {
        display: none;
    }
}
/* dark mode */
@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background: var(--clr-blk);
    }
    ::-webkit-scrollbar-thumb {
        background: var(--clr-chalk);
    }
    body {
        background: var(--clr-blk);
    }
    .img-container .banner-title {
        color: var(--clr-chalk);
    }
    .grid-container {
        color: var(--clr-chalk);
    }
    .grid-container ul li i {
        color: var(--clr-chalk);
    }
    .grid-container ul li .not-included {
        color: var(--clr-chalk);
    }
    .bookings-container .content {
        background: var(--clr-charcoal);
    }
    .bookings-container .content .title h3 {
        color: var(--clr-alabasterWhite);
    }
    .bookings-container .content .availability ul li {
        color: var(--clr-alabasterWhite);
    }
    .bookings-container .content .availability ul li span {
        color: var(--clr-coolGrey);
    }
    .bookings-container .content .availability ul li .available {
        color: var(--clr-grey);
    }
    .price-container .content {
        background: var(--clr-charcoal);
    }
    .price-container .content .title h3 {
        color: var(--clr-alabasterWhite);
    }
    .price-container .content .package-price ul li {
        color: var(--clr-alabasterWhite);
    }
    .package-container .content .left,
    .package-container .content .right {
        background: var(--clr-charcoal);
    }
    .package-container .content h3 {
        color: var(--clr-alabasterWhite);
    }
    .package-container .content .btn a {
        background: var(--clr-shadowGrey);
    }
    .package-container .content .btn a:hover {
        background: var(--clr-coolGrey);
    }
}