@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #fefefe;
    --clr-offWhite: #c6c5c5;
    --clr-chalk: #dbdada;
    --clr-milkWhite: #fcfbfb;
    --clr-alabasterWhite: #d7d5d5;
    --clr-blk: #000000;
    --clr-grey: #a9a8a8;
    --clr-charcoal: #282727;
    --clr-coolGrey: #696767;
    --clr-shadowGrey: #4b4b4b;
    --clr-darkGrey: #2c2c2c;
    --clr-purple: #5d0f9c;
    --clr-lightPurple: #7f22cb;
    --clr-darkPurple: #461270;
    --clr-lilac: #861cdc;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--clr-lilac);
}
body {
    color: var(--clr-darkGrey);
    background: var(--clr-white);
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    padding-bottom: .75rem;
    cursor: default;
}
.wrapper {
    max-width: 90rem;
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 90rem;
    padding: 0 15px;
    background: var(--clr-purple);
    min-height: 70px;
    z-index: 1;
}
.logo {
    position: absolute;
    left: 5.75rem;
    color: var(--clr-white);
    font-family: "Great Vibes", cursive;
    font-size: clamp(2rem, 3vw, 2.5rem);
    letter-spacing: .5px;
    text-decoration: none;
}
header img {
    position: relative;
    bottom: .35rem;
    width: 70px;
    height: auto;
    color: var(--clr-white);
}
/* nav */
nav ul {
    position: relative;
}
nav ul li {
    position: relative;
    list-style: none;
    float: left;
}
nav ul li i {
    position: relative;
    left: .5rem;
    color: var(--clr-chalk);
    font-size: clamp(.95rem, 3vw, 1rem);
}
nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 200;
    text-transform: capitalize;
    padding: 25px 30px;
    color: var(--clr-white);
    transition: 250ms;
}
nav ul li a:hover {
    background-color: var(--clr-lightPurple);
}
nav ul li ul {
    display: none;
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--clr-purple);
}
nav ul li:hover > ul {
    display: block;
}
nav ul li ul li {
    position: relative;
    width: 100%;
    border: 1px solid rgba(239, 239, 239, 0.3);
}
/* banner */
.img-container {
    position: relative;
}
.img-container img {
    width: 100%;
    height: auto;
    filter: brightness(45%);
}
.img-container .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    inset: 0;
    color: var(--clr-milkWhite);
    text-transform: capitalize;
}
.img-container .header h1 {
    font-size: clamp(1.75rem, 3vw, 3.5rem);
    font-weight: 200;
}
.img-container p {
    font-size: clamp(1.25rem, 3vw, 1.75rem);
    font-weight: 200;
}
/* grid-container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .5rem 1rem;
    grid-template-areas: 
        'img-one content-one'
        'content-two img-two'
        'img-three content-three'
        'content-four img-four';
}
.grid-container .img-one {
    grid-area: img-one;
}
.grid-container .content-one {
    grid-area: content-one;
}
.grid-container .content-two {
    grid-area: content-two;
}
.grid-container .img-two {
    grid-area: img-two;
}
.grid-container .img-three {
    grid-area: img-three;
}
.grid-container .content-three {
    grid-area: content-three;
}
.grid-container .content-four {
    grid-area: content-four;
}
.grid-container .img-four {
    grid-area: img-four;
}
.grid-container img {
    width: 100%;
    height: auto;
}
.grid-container .left img {
    mask-image: linear-gradient(90deg, 
                rgba(0, 0, 0, 1) 50%, 
                transparent 90%);
}
.grid-container .right img {
    mask-image: linear-gradient(-90deg, 
                rgba(0, 0, 0, 1) 50%, 
                transparent 90%);
}
.grid-container .right h2:nth-child(1) {
    margin: 0 auto;
}
.grid-container .right h2,
.grid-container .right p {
    width: 95%;
}
.grid-container .left h2,
.grid-container .right h2 {
    text-transform: capitalize;
    font-weight: 400;
    margin: 15px auto 0;
}
.grid-container .left p,
.grid-container .right p {
    margin: 15px auto;
}
/* package options */
.package-container .content {
    display: grid;
    margin: 10px auto 0;
    padding: 0 1rem;
    gap: .5rem;
}
.package-container .content {
    grid-template-columns: repeat(2, 1fr);
}
.package-container .content .left,
.package-container .content .right {
    margin: 0 auto;
    text-align: center;
    background: var(--clr-purple);
    border-radius: 5px;
    width: 100%;
    padding: 3rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.package-container .content h4 {
    color: var(--clr-white);
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: clamp(1.2rem, 3vw, 1.4rem);
}
.package-container .content .btn {
    margin: 30px auto 0;
}
.package-container .content .btn a {
    padding: .5rem .75rem;
    background: var(--clr-lightPurple);
    color: var(--clr-white);
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    transition: 200ms ease-out;
}
.package-container .content .btn a:hover {
    background: var(--clr-darkPurple);
}
/* bookings and availability */
.bookings-container {
    margin: 10px auto 0;
    padding: 0 1rem;
}
.bookings-container .content {
    background: var(--clr-purple);
    padding: 2.75rem 0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.bookings-container .content .title h4 {
    position: relative;
    bottom: 1.75rem;
    font-size: clamp(1.45rem, 3vw, 1.75rem);
    font-weight: 200;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-white);
    padding: 0 .5rem;
}
.bookings-container .content .availability {
    margin: 20px auto 0;
}
.bookings-container .content .availability ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 4fr));
    gap: 2rem;
    justify-items: center;
}
.bookings-container .content .availability ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    text-transform: capitalize;
    line-height: 2;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: clamp(1rem, 3vw, 1.1rem);
    color: var(--clr-milkWhite);
}
.bookings-container .content .availability ul li span {
    color: var(--clr-offWhite);

    font-size: clamp(.9rem, 3vw, .99rem);
}
.bookings-container .content .availability ul li .available {
    color: var(--clr-chalk);
    text-decoration: underline;
}
/* media query's*/
@media screen and (max-width: 1145px) {
    nav {
        display: none;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background: var(--clr-purple);
    }
    header.active nav {
        display: block;
    }
    nav ul li {
        width: 100%;
    }
    nav ul li ul {
        position: relative;
        left: 0;
        width: 100%;
    }
    nav ul li ul li {
        border: 1px solid rgba(239, 239, 239, 0);
    }
    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 20px;
        height: 25px;
    }
    .hamburger-menu::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--clr-white);
        transform: translateY(-5px);
        transition: 250ms ease;
    }
    .hamburger-menu::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--clr-white);
        transform: translateY(5px);
        transition: 250ms ease;
    }
    header.active .hamburger-menu::before {
        transform: rotate(45deg);
    }
    header.active .hamburger-menu::after {
        transform: rotate(315deg);
    }
}
@media screen and (max-width: 1100px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            'img-one'
            'content-one'
            'img-two'
            'content-two'
            'img-three'
            'content-three'
            'img-four'
            'content-four';
    }
    .grid-container .left img,
    .grid-container .right img {
        mask-image: linear-gradient(180deg, 
                    rgba(0, 0, 0, 1) 50%, 
                    transparent 90%);
    }
    .grid-container .right h2,
    .grid-container .right p {
        width: 100%;
    }
}
@media screen and (max-width: 735px) {
    .package-container .content {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 475px) {
    .img-container .header p {
        display: none;
    }
}
/* dark mode */
@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background: var(--clr-blk);
    }
    ::-webkit-scrollbar-thumb {
        background: var(--clr-chalk);
    }
    body {
        background: var(--clr-blk);
    }
    nav ul li ul li {
        border: 1px solid rgba(40, 40, 40, 0.3);
    }
    .img-container .header {
        color: var(--clr-chalk);
    }
    .grid-container {
        color: var(--clr-chalk);
    }
    .bookings-container .content {
        background: var(--clr-charcoal);
    }
    .bookings-container .content {
        background: var(--clr-charcoal);
    }
    .bookings-container .content .title h4 {
        color: var(--clr-alabasterWhite);
    }
    .bookings-container .content .availability ul li {
        color: var(--clr-alabasterWhite);
    }
    .bookings-container .content .availability ul li span {
        color: var(--clr-coolGrey);
    }
    .bookings-container .content .availability ul li .available {
        color: var(--clr-grey);
    }
    .package-container .content .left,
    .package-container .content .right {
        background: var(--clr-charcoal);
    }
    .package-container .content h4 {
        color: var(--clr-alabasterWhite);
    }
    .package-container .content .btn a {
        background: var(--clr-shadowGrey);
    }
    .package-container .content .btn a:hover {
        background: var(--clr-coolGrey);
    }
}